html, body, #map
{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Calibri;    
}

#errorText 
{
    color: #FF0000;
}

#header
{
    font-family: Calibri;
    font-size: 4.5vw;
    color: #0065A3;
    border: 0px;
}

#CGC_Logo 
{
    width:10%;
    height:10%;
    vertical-align: middle;
    margin-right: 1.5%;
}

#borderContainer
{
    width: 95%;
    height: 95%;
}

#meta {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 300px;
    height: 80px;
    z-index: 40;
    background: #fff;
    color: #777;
    padding: 5px;
    border: 2px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    font-family: arial;
    font-size: 0.9em;
    /*overflow-style: auto;*/
    overflow: auto;
  }
  #meta h3 {
    color: #666;
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    display: inline-block;    
  }
  #meta-icon-span { 
    float: right;
  }








